{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | eHealth Assignment</title>
    <!-- <script src="{% static 'app/js/jquery.min.js' %}"></script> -->
    <script src="{% static 'app/js/dashboard.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="{% static 'app/css/w3.css'%}" rel="stylesheet" id="bootstrap-css">
</head>
<body>
   
    
    {% include 'app/nav.html' %}

<!-- Page Container -->
    <div class="container w3-small">

        <!-- The Grid -->
        <div class="w3-row-padding">
        
        <!-- Left Column -->
        <div class="w3-twothird">
        
            <div class="w3-container w3-card w3-padding w3-white">
                {% include 'app/tips.html' %}
                
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw  w3-xxlarge w3-text-teal"></i>Recent Records</h2>
                
                <a href="#" style="text-decoration: none;">
                    <div class="container w3-padding w3-round w3-border">
                        <p class="w3-tiny w3-text-teal">Record No: 12321</p>
                        <p class="w3-tiny w3-text-teal">19-12-2019 | 12:30 AM</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio laudantium suscipit saepe laboriosam similique nisi non, quis alias praesentium, distinctio rem, impedit necessitatibus enim fugiat numquam asperiores recusandae totam illo.</p>
                        
                        
                        <span class="badge w3-teal w3-small w3-text-white">maleria</span>
                        <span class="badge w3-teal w3-small w3-text-white">Fever</span>
                        <span class="badge w3-teal w3-small w3-text-white">Cough</span>
                        <span class="badge w3-teal w3-small w3-text-white">Corna</span>
                        <p class="w3-tiny w3-right">Status: Good to go</p>
                    </div>
                </a>
                <br>
                
                <a href="#" style="text-decoration: none;">
                    <div class="container w3-padding w3-round w3-border">
                        <p class="w3-tiny w3-text-teal">Record No: 12321</p>
                        <p class="w3-tiny w3-text-teal">19-12-2019 | 12:30 AM</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio laudantium suscipit saepe laboriosam similique nisi non, quis alias praesentium, distinctio rem, impedit necessitatibus enim fugiat numquam asperiores recusandae totam illo.</p>
                        
                        
                        <span class="badge w3-teal w3-small w3-text-white">maleria</span>
                        <span class="badge w3-teal w3-small w3-text-white">Fever</span>
                        <span class="badge w3-teal w3-small w3-text-white">Cough</span>
                        <span class="badge w3-teal w3-small w3-text-white">Corna</span>
                        <p class="w3-tiny w3-right">Status: Good to go</p>
                    </div>
                </a>
                <br>
                
                <a href="#" style="text-decoration: none;">
                    <div class="container w3-padding w3-round w3-border">
                        <p class="w3-tiny w3-text-teal">Record No: 12321</p>
                        <p class="w3-tiny w3-text-teal">19-12-2019 | 12:30 AM</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio laudantium suscipit saepe laboriosam similique nisi non, quis alias praesentium, distinctio rem, impedit necessitatibus enim fugiat numquam asperiores recusandae totam illo.</p>
                        
                        
                        <span class="badge w3-teal w3-small w3-text-white">maleria</span>
                        <span class="badge w3-teal w3-small w3-text-white">Fever</span>
                        <span class="badge w3-teal w3-small w3-text-white">Cough</span>
                        <span class="badge w3-teal w3-small w3-text-white">Corna</span>
                        <p class="w3-tiny w3-right">Status: Good to go</p>
                    </div>
                </a>
                <br>
                
                <button class=" w3-center w3-button w3-round w3-teal">More</button>
            </div>
    
    
        <!-- End Right Column -->
        </div>

            <!-- Rigth Column -->
            <div class="w3-third">
        
                <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="{% static 'app/images/male.png' %}" style="width:100%" alt="Avatar">
                </div>
                <form method="POST" class=" w3-padding" action="{% url 'upload' %}" enctype='multipart/form-data'>
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file" onchange="fileData()">
                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="upload-file" id="file_label">Choose file</label>
                            </div>
                            <div class="input-group-append">
                            <button type="buttton" class="w3-button w3-right w3-round w3-border" id="upload-file" style="cursor: pointer;" >Upload</button>
                            </div>
                        </div>
                
                    </form>
                <div class="w3-container w3-padding">
                    <p class="w3-padding">Name: {{loggedUser}}</p>
                    <p class="w3-padding">Health Status: {{loggedUser.}}</p>
                    <p class="w3-padding">Date of Birth: </p>
                    <p class="w3-padding">Number: </p>
                    <hr>
                    
                    <a href="{% url 'profile' %}" class="w3-button w3-round w3-right w3-text-white" type="submit" style="background-color: #028F9C">Edit Profile</a>
                    <br>
                </div>
                </div><br>
        
            <!-- End Left Column -->
            </div>
        
        <!-- End Grid -->
        </div>
        
        <!-- End Page Container -->
    </div>

    <!-- Footer  -->
    {% include 'app/footer.html' %}
    

</body>
</html>