{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | eHealth Assignment</title>
    <!-- <script src="{% static 'app/js/jquery.min.js' %}"></script> -->
    <script src="{% static 'app/js/dashboard.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'app/css/bootstrap.min.css'%}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'app/css/w3.css'%}" rel="stylesheet" id="bootstrap-css">
</head>
<body>
   
    
    <div class="jumbotron mt-3">
        <h1 class="w3-center" style="color: #028F9C;"><span style="color: #7AC142;">e</span>Health</h1>
        <a class="w3-center w3-button w3-tiny" href="">My Records</a>
        <a class="w3-center w3-button w3-tiny" href="">Charts</a>
        <a class="w3-center w3-button w3-tiny" href="">Tables</a>
        <a class="w3-center w3-button w3-tiny w3-right" href="{% url 'logout' %}">Sign Out</a>
      </div>

<!-- Page Container -->
    <div class="container w3-small">

        <!-- The Grid -->
        <div class="w3-row-padding">
        
        <!-- Left Column -->
        <div class="w3-twothird">
        
            <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
                <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
            </div>
            </div>
    
            <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                <p>Web Development! All I need to know in one place</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>London Business School</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
                <p>Master Degree</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>School of Coding</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                <p>Bachelor Degree</p><br>
            </div>
            </div>
    
        <!-- End Right Column -->
        </div>

            <!-- Rigth Column -->
            <div class="w3-third">
        
                <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="{% static 'app/images/male.png' %}" style="width:100%" alt="Avatar">
                </div>
                <form method="POST" class=" w3-padding" action="{% url 'upload' %}" enctype='multipart/form-data'>
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file" onchange="fileData()">
                            <!-- <label class="custom-file-label" for="inputGroupFile02" aria-describedby="upload-file" id="file_label">Choose file</label> -->
                            </div>
                            <div class="input-group-append">
                            <button type="buttton" class="w3-button w3-right w3-round w3-border" id="upload-file" style="cursor: pointer;" >Upload</button>
                            </div>
                        </div>
                
                    </form>
                <div class="w3-container w3-padding">
                    <p class="w3-padding">Name: </p>
                    <p class="w3-padding">Health Status: </p>
                    <p class="w3-padding">Date of Birth: </p>
                    <p class="w3-padding">Number: </p>
                    <hr>
                    
                    <button class="w3-button w3-round w3-right w3-text-white" type="submit" style="background-color: #028F9C">Edit Profile</button>
                    <br>
                </div>
                </div><br>
        
            <!-- End Left Column -->
            </div>
        
        <!-- End Grid -->
        </div>
        
        <!-- End Page Container -->
    </div>
    

</body>
</html>