{% load static %}

<div class="jumbotron mt-3 w3-white" style="max-height: 10%">
  <img class="mb-4" src="{% static 'app/images/logo.png' %}" alt="" width="72" height="72">
  <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="{% url 'dashboard' %}">Dashboard</a>
  <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="{% url 'records' %}">My Records</a>
  <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="{% url 'chart' %}">Charts</a>
  {% if Category == 'Doctor' %}
    <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="{% url 'table' %}">Tables</a>
    <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="{% url 'make_record' %}">Create Record</a>
  {% endif %}
  <div class="w3-container w3-right">
    <a class="w3-center w3-button w3-tiny w3-border w3-teal w3-round" href="{% url 'logout' %}">Sign Out</a>
  </div>
</div>

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary fade show w3-center" role="alert" id="alert">
          <span>{{message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="document.getElementById('alert').style.display = 'none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
<hr>
