<div class="jumbotron mt-3">
  <h1 class="w3-center" style="color: #028F9C;"><span style="color: #7AC142;">e</span>Health</h1>
  <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="">My Records</a>
  <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="">Charts</a>
  <a class="w3-center w3-button w3-small w3-round w3-text-teal" href="">Tables</a>
  <div class="w3-container w3-right">
      <p class="w3-tiny w3-hide-small">Full Name</p>
      <a class="w3-center w3-button w3-tiny w3-border" href="{% url 'logout' %}">Sign Out</a>
    </div>
</div>