<div class="d-flex position-relative w3-tiny w3-margin w3-round overflow-hidden p-3 w3-border">
       <span class="w3-large">💡</span>
        <div class="col-10 f6 lh-condensed">
          <h5 class="mb-1 pr-3">Tips of the Day</h5>
          <p class="w3-center">STAY HOME.SAVE LIVES</p><br>
          <span >Help stop coronavirus.</span>
          <ul class="w3-tiny w3-ul">
              <li>STAY home as much as you can </li>
              <li>KEEP a safe distance</li>
              <li>WASH hands often</li>
              <li>COVER your cough</li>
              <li>SICK? Call ahead</li>
          </ul>
          </span>
        </div>
</div>