
<div class="alert alert-success" role="alert" id="tip">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="document.getElementById('tip').style.display = 'none'">
    <span aria-hidden="true">&times;</span>
  </button>
    <h4 class="alert-heading">💡 Tip of the day!</h4>
          <span >Help stop coronavirus.</span>
          <ul class="w3-tiny w3-center w3-ul">
              <li>STAY home as much as you can </li>
              <li>KEEP a safe distance</li>
              <li>WASH hands often</li>
              <li>COVER your cough</li>
              <li>SICK? Call ahead</li>
          </ul>
    <hr>
    <p class="mb-0">STAY HOME.SAVE LIVES</p>
</div>